* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "header_style.css";
@import "fonts.css";
@import "../slick/slick.css";
@import "../slick/slick-theme.css";

@mixin container {
  max-width: 1800px;
  margin: auto;
  justify-content: space-between;
}

@mixin Poppins400 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}


/*main-banner*/


.main-banner {
  background-image: url("../images/main_banner/bg.png");
  background-size: cover;
  padding-top: 130px;
  min-height: 145vh;
  .container{
    @include container;
    h1{
      font-family: 'Noto Serif', serif;
      font-weight: 400;
      font-size: 250px;
      line-height: 220px;
      text-shadow: 0 6px 40px rgba(0, 0, 0, 0.9);
      color: #FFFFFF;
      margin-bottom: 25px;
    }
    .main-banner_list{
      display: flex;
      margin-left: 35px;
      li{
        color: #FFFFFF;
        @include Poppins400;
        font-size: 26px;
        line-height: 28px;
        margin-right: 50px;
      }
    }
  }
}

/*gallery-banner*/

.gallery-banner{
  margin-top: -200px;
  padding-bottom: 60px;
  overflow: hidden;
  .container{
    h3{
      font-family: 'Noto Serif', serif;
      font-weight: 400;
      font-size: 200px;
      line-height: 220px;
      color: #272727;
      margin-bottom: 50px;
    }
    .gallery_carousel{
      position: relative;
      justify-content: center;
      display: flex;
      .gallery_carousel_card{
        text-align: center;
        .gallery_carousel_image{
          margin-bottom: 30px;
        }
        .vl{
          border-left: 2px solid rgba(61, 61, 61, 1);
          height: 23px;
          margin-bottom: 30px;
          display: inline-flex;
        }
        .gallery_img_description{
          @include Poppins400;
        color: rgba(61, 61, 61, 1);
        }
        .gallery_buy_button{
          border: none;
          background-color: inherit;
          color: rgba(65, 55, 208, 1);
          margin-bottom: 60px;
          @include Poppins400;
          font-weight: 600;
        }
      }
      .slick-list {
        margin: 0 -10px;
        .slick-slide {
          margin: 0 10px;
          &:nth-child(2n){
            margin-top: 50px;
          }
        }
      }
    }
  }
}

.slick-dots{
  border: #E9E9E9 1px solid;
  border-radius: 150px;
  width: max-content;
  padding: 16px 22px;
  align-items: center;
  display: flex;
}
